@import "tailwindcss";

@theme {
  --font-display: "Space Grotesk";
  --color-primary-dark: #0d0d0d;
  --color-secondary-dark: #1a1a1a;
  --color-accent-dark: #4ecca3;
  --border-radius-default: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;
}

body {
  background: var(--color-primary-dark);
  color: var(--color-secondary-dark);
  font-family: var(--font-display);
}
