@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Space Grotesk";
  --color-primary-dark: #0d0d0d;
  --color-secondary-dark: #1a1a1a;
  --color-accent-dark: #4ecca3;
  --border-radius-default: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;
}

body {
  background: var(--color-primary-dark);
  color: oklch(0.929 0.013 255.508);
  font-family: var(--font-display), sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22%3E%3Cdefs%3E%3Cstyle%3E.lines %7B stroke: %231A1A1A; stroke-width: 0.5px; %7D%3C/style%3E%3C/defs%3E%3Crect width=%22100%22 height=%22100%22 fill=%22%230D0D0D%22 /%3E%3Cpath class=%22lines%22 d=%22M0 10 h100 M0 20 h100 M0 30 h100 M0 40 h100 M0 50 h100 M0 60 h100 M0 70 h100 M0 80 h100 M0 90 h100%22 /%3E%3Cpath class=%22lines%22 d=%22M10 0 v100 M20 0 v100 M30 0 v100 M40 0 v100 M50 0 v100 M60 0 v100 M70 0 v100 M80 0 v100 M90 0 v100%22 /%3E%3C/svg%3E");
}
